<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="import-csv-update-sql.ZPM">
    <Module>
      <Dependencies>
        <ModuleReference>
          <Name>csvgen</Name>
          <Version>1.*</Version>
        </ModuleReference>
      </Dependencies>
      <Name>import-csv-update-sql</Name>
      <Version>1.0.1</Version>
      <Description>This is an example on how to import CSV data to any table using SQL</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="evshvarov.csv.PKG"/>
    </Module>
  </Document>
</Export>
